%head
  %link{:href => "/assets/application-#{RatPack.sprockets.digest.to_s}.css", :rel => "stylesheet"}
  %script{:src =>"/assets/application-#{RatPack.sprockets.digest.to_s}.js"}
  %title RatPack 
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "follow, all", :name => "robots"}/
  %meta{:content => "index, follow", :name => "googlebot"}/
  %meta{:content => "30 days", :name => "revisit-after"}/
  %meta{:content => "", "http-equiv" => "description"}/
  %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

