%head{prefix:  "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ratpack: http://ogp.me/ns/fb/ratpack#"}
  %meta{ property:  "fb:app_id",         content:  CONFIG[:facebook_app_id]                                           }/
  %meta{ property:  "og:url",            content:  CONFIG[:base_url]                                                 }/
  %meta{ property:  "og:title",          content:  "RatPack" }
  %meta{ property:  "og:description",    content:  "RatPack" } 
  %meta{ property:  "og:image",          content:  "https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" }/
  %link{:href => "/assets/application-#{RatPack.sprockets.digest.to_s}.css", :rel => "stylesheet"}
  %script{:src =>"/assets/application-#{RatPack.sprockets.digest.to_s}.js"}
  %title RatPack 
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "follow, all", :name => "robots"}/
  %meta{:content => "index, follow", :name => "googlebot"}/
  %meta{:content => "30 days", :name => "revisit-after"}/
  %meta{:content => "", "http-equiv" => "description"}/
  %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
