.headerClear
  / IE bug fix here
#page-container
  #container
    %header#main 
      %h1 Rat<span>Pack</span>
    .header-effect
    #content.landing
      .facebookConnect
        %a.calc_btn{:href => "/auth/facebook"}
          %span Calculate Your Score
.mainContentClear
