!!!
%html{:lang => "en"}
  %head
  = haml :'shared/head'
  %body
    .topbar
      .fill
        .container
          %a.brand{:href => "/"} RatPack 
          %ul.nav
            %li.active
              %a{:href => "/"} Home
            %li
              %a{:href => "/users"} Users
            %li
              %a{:href => "#contact"} Contact
          - unless @user.nil?
            %a.btn{ :href => '/logout', :type => "submit"} Logout  
    .container
      .content
        .page-header
          %h1
            RatPack 
            %small Bringing the pack back 
        .row
          .span10
            =yield
      %footer
        %p Free to use 
    / /container

