%form#userInfoForm{name: 'user_info_form', method: 'post', action:"/users"}
  %label{for: 'username'}
    Username:
  %input.large#username{type: 'text', name: 'username'}  
  %input{type: 'submit'}


