@charset "UTF-8";

/* Print template */

body {
  color: #000000;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt; }

a {
  text-decoration: underline;
  color: #0000ff; }

#navigation, #mainAd, #other {
  display: none; }
